{% extends 'base.html.twig' %}

{% block body %}
    <div class="PageLayout">
        <div class="clearfix gutter">
            <div class="col-12 float-left">
                <div class="PageLayout-header mb-5">
                    <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5">
                        <div>
                            <h1>Startseite</h1>
                            <h3>Übersicht zu den Aktionen oder Login</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7 float-left">
                <div class="PageLayout-content">
                    <p>Diese Seite ist öffentlich und kann zur Berechnung von Zusatzprüfungen <b>ohne</b> Eingabe personenbezogener Daten genutzt werden.</p>
                </div>
            </div>
            <div class="col-12 col-lg-5 float-left">
                <div class="PageLayout-pane">

                </div>
            </div>
            <div class="col-12 float-left">
            </div>
        </div>
    </div>
{% endblock %}
