{% extends 'base.html.twig' %}

{% block body %}
    <div class="PageLayout">
        <div class="clearfix gutter">
            <div class="col-12 float-left">
                <div class="PageLayout-header mb-5">
                    <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5">
                        <div>
                            <h1>AbiRechner</h1>
                            <h3 class="color-fg-accent">Zusatzprüfungen berechnen</h3>
                        </div>
                        <a href="{{ path('app_login') }}" class="btn btn-outline">
                            <div class=" d-flex flex-items-center">
                                Anmelden
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7 float-left">
                <div class="PageLayout-content">
                    <p>
                        Bitte am System anmelden, um fortzufahren.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-5 float-left">
                <div class="PageLayout-pane">

                </div>
            </div>
            <div class="col-12 float-left">
            </div>
        </div>
    </div>
{% endblock %}
