{% extends '_setup.html.twig' %}

{% block title %}Teacher index{% endblock %}

{% block page_header %}
    <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5">
        <div>
            <h1>Einstellungen</h1>
            <h3>Systemkonfiguration</h3>
        </div>
    </div>
    <p>Richten Sie die Datenbasis für die tägliche Arbeit ein, fügen Sie Benutzerkonten hinzu und setzen Sie Prüfungsfächer und Punktetabellen auf.</p>
{% endblock %}

{% block page_content %}

{% endblock %}
