{% extends '_auth.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="PageLayout">
        <div class="clearfix gutter">
            <div class="col-12 float-left">
                <div class="PageLayout-header mb-5">
                    <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5">
                        <div>
                            <h1>Bitte anmelden</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7 float-left">
                <div class="PageLayout-content">
                    {% if error %}
                        {% include 'base/alert.html.twig' with {'text':error.messageKey|trans(error.messageData, 'security')} %}
                    {% endif %}

                    <form class="mb-5 needs-validation" id="form" method="post" novalidate>

                        <h4 class="border-bottom">Anmeldeinformationen</h4>

                        <div class="form-group">
                            <div class="form-group-header">
                                <label class="required" for="inputUsername">Kennung</label>
                            </div>
                            <div class="form-group-body">
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control width-full" autocomplete="username" required autofocus>
                                <div class="invalid-feedback color-fg-danger my-2">
                                    Bitte Benutzerkennung angeben.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-group-header">
                                <label class="required" for="inputPassword">Passwort</label>
                            </div>
                            <div class="form-group-body">
                                <input type="password" name="password" id="inputPassword" class="form-control width-full" autocomplete="current-password" required>
                                <div class="invalid-feedback color-fg-danger my-2">
                                    Bitte Passwort angeben.
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <div class="form-group mt-5">
                            <div class="form-group-body">
                                <button type="submit" class="btn btn-primary mr-1"  id="lastname">Login</button>
                                <a href="{{ url('app_pupil_crud_index') }}"  class="btn-link">Passwort vergessen?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-5 float-left">
                <div class="PageLayout-pane">

                </div>
            </div>
            <div class="col-12 float-left">
            </div>
        </div>
    </div>
{% endblock %}
