<div class="Box Box--condensed Box-body Box--danger color-bg-danger mb-5">
    <div class="d-flex flex-justify-start flex-items-center">
        <i class="cil-bell-exclamation color-fg-danger d-block mr-2" style="font-size: 1.2rem"></i>
        <span class="color-fg-danger">{{ text ?? '' }}</span>
    </div>
</div>