<div class="Box Box--condensed Box-body form-warning mb-5">
    <div class="d-flex flex-justify-start flex-items-center">
        <i class="cil-bell-exclamation d-block mr-2" style="font-size: 1.2rem"></i>
        <span>{{ text ?? '' }}</span>
    </div>
</div>