<div class="BtnGroup-item">
    <a class="BtnGroup-item btn btn-sm" href="{{ path('app_pupil_crud_edit', {'id': exam.id}) }}"><i class="icon_pencil-edit"></i></a>
    <button form="form" class="BtnGroup-item btn btn-sm color-fg-danger"><i class="icon_trash_alt"></i></button>
</div>


<form id="form" method="post" class="d-inline-block" action="{{ path('app_teacher_crud_delete', {'id': exam.id}) }}" onsubmit="return confirm('Möchten Sie wirklich diesen Eintrag löschen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exam.id) }}">
</form>
