{% extends '_admin.html.twig' %}

{% block body %}
    <div class="PageLayout">
        <div class="clearfix gutter">
            <div class="col-12 float-left">
                <div class="PageLayout-header mb-5">
                    <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5">
                        <div>
                            <h1>Personenverzeichnis</h1>
                            <h3>Datensätze auflisten</h3>
                        </div>
                    </div>
                    <table class="compact hover" id="example">
                        <caption>Prüflinge</caption>
                        <thead class="border-top">
                        <tr class="border-bottom">
                            <th class="TableObject-item text-left">Name</th>
                            <th class="TableObject-item text-left">Vorname</th>
                            <th class="TableObject-item text-right">Geburtsdatum</th>
                            <th class="TableObject-item text-right">Abschlussjahr</th>
                            <th class="TableObject-item text-left">Tutorium</th>
                            <th class="TableObject-item text-right">Kursblock</th>
                            <th class="TableObject-item text-right">Aktion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="border-bottom">
                            <td class="TableObject-item">Wagner</td>
                            <td class="TableObject-item">Benjamin</td>
                            <td class="TableObject-item text-right">16.02.1987</td>
                            <td class="TableObject-item text-right">2024</td>
                            <td class="TableObject-item">Kottwitz</td>
                            <td class="TableObject-item text-right">412</td>
                            <td class="TableObject-item text-right">
                                    <a href="#" class="">anzeigen</a>
                                    <a href="#" class="">bearbeiten</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-7 float-left">
                <div class="PageLayout-content">
                    <a href="{{ url('app_pupil_crud_new') }}" class="btn btn-primary">Neuer Datensatz</a>
                </div>
            </div>
            <div class="col-12 col-lg-5 float-left">
                <div class="PageLayout-pane">

                </div>
            </div>
            <div class="col-12 float-left">
            </div>
        </div>
    </div>
{% endblock %}
