{% extends '_setup.html.twig' %}

{% block title %}New Grade{% endblock %}

{% block page_header %}
    <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5">
        <div>
            <h1>Neuer Schulnoteneintrag</h1>
            <h3 class="color-fg-accent">Systemkonfiguration</h3>
        </div>
        <div class="BtnGroup d-none d-lg-block">
            <a href="#" class="BtnGroup-item btn"><i class="cil-print"></i></a>
            <a href="#" class="BtnGroup-item btn"><i class="cil-file"></i></a>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    {{ include('grade/_form.html.twig') }}
{% endblock %}
