{% extends '_setup.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block page_header %}
    <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5">
        <div>
            <h1>{{ user }} bearbeiten</h1>
            <h3 class="color-fg-accent">Systemkonfiguration</h3>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <p>Wollen Sie stattdessen das <a class="" href="{{ path('app_user_crud_edit_password', {'id': user.id}) }}">Passwort ändern</a>?</p>
    {% if app.user is same as user %}
        {{ include('base/alert.html.twig',{'text':'Dies ist Ihr Benutzerkonto. Nach Speichern der Änderungen werden Sie ggf. automatisch ausgeloggt.'}) }}
    {% endif %}
    {{ include('user_crud/_form.html.twig', {'button_label': 'Aktualisieren'}) }}
{% endblock %}
