
@import "~@primer/css";
@import "~@coreui/icons/css/free.min.css";
@import "~datatables.net-dt/css/jquery.dataTables.min.css";
@import "~bootstrap-icons";

html,body{
  min-height: 100%;
  height: 100%;
}

@media (min-width: 720px) {
  .stick-to-top {
    position: sticky;
    top: 48px;
  }


}

.AppFrame-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

