{% extends '_admin.html.twig' %}

{% block sidebar %}
    <div class="p-3">
        <h4>Schnellzugriff</h4>
    </div>
    <div class="SideNav mb-3">
        {% block actions %}{% endblock %}
    </div>
{% endblock %}

{% block body %}
    <div class="PageLayout">
        <div class="clearfix gutter">
            <div class="col-12 float-left">
                <div class="PageLayout-header mb-5">
                    {% block page_header %}{% endblock %}
                </div>
            </div>
            <div class="col-12 col-lg-7 float-left">
                <div class="PageLayout-content">
                    {% block page_content %}{% endblock %}
                </div>
            </div>
            <div class="col-12 col-lg-5 float-left">
                <div class="PageLayout-pane">
                    {% block page_pane %}{% endblock %}
                </div>
            </div>
            <div class="col-12 float-left">
                {% block page_footer %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}