<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="AppFrame-main pb-5" style="height: 100%">
            <div class="AppFrame-header-wrapper">
                <div class="AppFrame-header color-bg-emphasis color-fg-on-emphasis">
                    {% block header %}
                        {{ include('base/header.html.twig') }}
                    {% endblock %}
                </div>
                <div class="AppFrame-subheader">
                    {% block subheader %}{% endblock %}
                </div>
            </div>
            <div class="AppFrame-body" style="height: 100%">
                {% block local_nav %}{% endblock %}
                <div class="Layout Layout--sidebar-wide" style="height: 100%">
                    <div class="Layout-main">
                        <div class="pb-12 px-3 pl-md-0 pr-md-5 mt-2">
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                    <div class="Layout-sidebar color-bg-inset border-right" style="height: 100%">
                        <div class="stick-to-top mb-12">
                            {% block sidebar %}{% endblock %}
                        </div>
                    </div>
                </div>

            </div>
            {% block footer %}
                <div class="AppFrame-footer color-bg-inset border-top">
                    <div class="p-3">
                        &copy;2023 - Benjamin Wagner
                    </div>
                </div>
            {% endblock %}
        </div>
    </body>
</html>
