<form method="post" class="d-inline-block" action="{{ path('app_teacher_crud_delete', {'id': teacher.id}) }}" onsubmit="return confirm('Möchten Sie wirklich diesen Eintrag löschen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ teacher.id) }}">
    <button class="btn-link color-fg-danger">löschen</button>
</form>
