<html lang="de">
    <head>
        <title>PDF-Datei</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Dies ist eine PDF</h1>
        <p>Und hier noch ein süßer Absatz</p>
    </body>
</html>

